<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="reply">
	
	<!-- 댓글 입력 -->
	<insert id="insertReply">
		INSERT INTO REPLY (REPLYNO, BOARDID, REPLYCONTENT, REPLYER)
		VALUES (#{replyNo}, #{boardId}, #{replyContent}, #{replyer})
	</insert>
	
	<!-- 댓글 목록 -->	
	<select id="listReply" resultType="com.board.example.dto.ReplyDTO">
		SELECT REPLYNO, BOARDID, REPLYER, USERID
		FROM REPLY R, MEMBER M
		WHERE R.REPLYER = M.userId AND BOARDID = #{boardId}
		ORDER BY REPLYNO
	</select>
	
	<delete id="deleteReply">
		DELETE 
		FROM REPLY
		WHERE REPLYNO = #{replyNo}
	</delete>
			
</mapper>


